aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.2
asttokens==2.0.5
async-timeout==4.0.2
asyncio==3.4.3
asynctest==0.13.0
attrs==21.4.0
autobahn==22.3.2
base58==2.1.1
BigNumber==1
bitarray==1.2.2
cbpro==1.1.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
contourpy==1.0.5
copra==1.2.9
cryptography==36.0.2
cycler==0.11.0
cytoolz==0.11.2
Deprecated==1.2.13
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.7
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
Flask==2.2.2
flask-sock==0.5.2
Flask-SSE==1.0.0
fonttools==4.37.4
frozenlist==1.3.0
h11==0.13.0
hexbytes==0.2.2
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.12.0
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.5.1
kiwisolver==1.4.4
lru-dict==1.1.7
MarkupSafe==2.1.1
matplotlib==3.6.1
mpmath==1.2.1
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
numpy==1.22.3
openpyxl==3.0.10
packaging==21.3
pandas==1.4.2
parsimonious==0.8.1
patsy==0.5.3
Pillow==9.2.0
protobuf==3.20.1
pycparser==2.21
pycryptodome==3.14.1
pymongo==3.5.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
pywin32==304
redis==4.3.4
requests==2.27.1
rlp==2.0.1
scikit-learn==1.1.2
scipy==1.9.2
semantic-version==2.8.5
simple-websocket==0.8.1
six==1.10.0
sklearn==0.0
sortedcontainers==2.4.0
statsmodels==0.13.5
threadpoolctl==3.1.0
toolz==0.11.2
txaio==22.2.1
typing==3.7.4.3
urllib3==1.26.18
varint==1.0.2
vyper==0.3.3
web3==5.29.1
websocket-client==0.40.0
websockets==9.1
Werkzeug==2.2.2
wincertstore==0.2
wrapt==1.14.1
wsproto==1.2.0
yarl==1.7.2
zipp==3.8
